.binaryTreeChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, #091e26, #00131c);
  width: 100%;
  height: 100%;
  display: none;
}
.saboresInigualveis,
.sintaOCuidado {
  position: absolute;
  left: 597.4px;
  z-index: 1;
}
.saboresInigualveis {
  top: 87px;
  line-height: 140%;
  font-weight: 500;
}
.sintaOCuidado {
  top: 151px;
  font-size: var(--roboto-small-regular-size);
  line-height: 100%;
  font-family: var(--roboto-smaller-regular);
}
.maskGroupIcon {
  position: absolute;
  top: -138.6px;
  left: -70px;
  width: 656.2px;
  height: 412.6px;
  object-fit: contain;
}
.binaryTree {
  height: 260px;
  flex: 1;
  position: relative;
  border-radius: var(--br-5xs);
  background: linear-gradient(180deg, #091e26, #00131c);
  max-width: 100%;
}
.familyTree,
.redBlackTree {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.familyTree {
  width: 1123px;
  flex-direction: row;
  padding: 0 var(--padding-12xs) var(--padding-base-2) var(--padding-11xs-5);
  text-align: left;
  font-size: var(--poppins-500-medium-size);
  color: var(--light-light-300);
  font-family: var(--poppins-100-medium);
}
.redBlackTree {
  width: 1142.5px;
  overflow-x: auto;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-27xl-6);
}
.frameChild {
  height: 30px;
  width: 30px;
  min-height: 30px;
}
.foodExplorer,
.frameChild {
  position: relative;
}
.footerInner,
.polygonParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.polygonParent {
  gap: var(--gap-3xs);
}
.footerInner {
  flex: 1;
  padding: 0;
  box-sizing: border-box;
  min-width: 186px;
  max-width: 100%;
}
.subtitle {
  position: relative;
  line-height: 160%;
}
.familyTreeParent,
.footer,
.home,
.subtitleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtitleWrapper {
  flex-direction: column;
  padding: var(--padding-9xs-8) 0 0;
  font-size: var(--roboto-smaller-regular-size);
  color: var(--light-light-200);
}
.familyTreeParent,
.footer,
.home {
  box-sizing: border-box;
}
.footer {
  margin-left: -123px;
  width: 1366px;
  background-color: var(--dark-dark-600);
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-4xl-7) var(--padding-104xl) var(--padding-4xl-8);
  gap: var(--gap-5xs);
  max-width: 110%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--roboto-bigger-bold-size);
  color: var(--light-light-700);
  font-family: var(--roboto-smaller-regular);
}
.familyTreeParent,
.home {
  flex-direction: column;
}
.familyTreeParent {
  align-self: stretch;
  height: 2132px;
  padding: 0 var(--padding-11xs) var(--padding-104xl-6) var(--padding-103xl-5);
  gap: var(--gap-27xl-8);
  max-width: 100%;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--dark-dark-400);
  padding: 0;
  gap: 172px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .familyTreeParent {
    height: auto;
    padding-left: var(--padding-42xl);
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .saboresInigualveis {
    font-size: var(--poppins-400-medium-size);
    line-height: 45px;
  }
}
@media screen and (max-width: 750px) {
  .redBlackTree {
    gap: var(--gap-4xl);
  }
  .footer {
    padding-left: var(--padding-42xl);
    padding-right: var(--padding-42xl);
    box-sizing: border-box;
  }
  .familyTreeParent {
    gap: var(--gap-4xl);
    padding-left: var(--padding-11xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .home {
    gap: 86px;
  }
}
@media screen and (max-width: 450px) {
  .saboresInigualveis {
    font-size: var(--roboto-bigger-bold-size);
    line-height: 34px;
  }
  .foodExplorer {
    font-size: var(--font-size-lgi);
  }
  .footer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .home {
    gap: 43px;
  }
}
