.refeies {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 45px;
  font-weight: 500;
  font-family: inherit;
}
.gradiente {
  position: absolute;
  top: 448px;
  left: 278px;
  background: linear-gradient(90deg, rgba(0, 10, 15, 0.27), #000a0f);
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.caretleftIcon,
.gradienteParent {
  position: absolute;
  top: 184px;
  left: 19px;
  width: 40px;
  height: 40px;
  z-index: 1;
}
.gradienteParent {
  top: 0;
  left: 0;
  width: 278px;
  height: 448px;
}
.cardParent {
  margin-left: -333px;
  height: 462px;
  width: 306px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frameChild {
  height: 448px;
  width: 224px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0.5px;
  flex-shrink: 0;
  z-index: 1;
}
.dishIcon {
  height: 176px;
  width: 176px;
  position: relative;
  object-fit: cover;
}
.sequenceController {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl);
}
.torradasDeParma {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 34px;
  font-weight: 700;
  font-family: var(--poppins-100-medium);
  white-space: pre-wrap;
}
.dataMerger {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--roboto-smaller-regular-size);
  color: var(--light-light-400);
}
.dataTransformer {
  flex: 1;
  position: relative;
  line-height: 52px;
  white-space: nowrap;
}
.text1,
.variableHolder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text1 {
  flex: 1;
}
.variableHolder {
  align-self: stretch;
  padding: 0 var(--padding-lg);
  font-size: var(--poppins-400-medium-size);
  color: var(--tints-cake-200);
}
.functionExecutor {
  margin: 0;
  height: 28px;
  width: 24px;
}
.resultSorter {
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 24px;
}
.heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.plusIcon {
  width: 24px;
  height: 24px;
  position: relative;
}
.filterStack {
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
}
.filterStack,
.outputModifier,
.stepper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stepper {
  flex-direction: row;
  gap: var(--gap-sm);
}
.outputModifier {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.incluir {
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--tints-tomato-100);
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  min-width: 60px;
  text-align: center;
  font-size: var(--roboto-smaller-regular-size);
  color: var(--light-light-100);
  font-family: var(--poppins-100-medium);
}
.button,
.decisionMaker,
.filterChain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.decisionMaker {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-base);
}
.filterChain {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  text-align: left;
  font-size: var(--roboto-big-bold-size);
}
.inputValidatorIcon {
  width: 24px;
  height: 22px;
  position: absolute;
  margin: 0 !important;
  top: 16px;
  right: 18px;
}
.card,
.frameParent,
.refeiesParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.card {
  width: 304px;
  border-radius: var(--br-5xs);
  background-color: var(--dark-dark-200);
  border: 1px solid var(--dark-dark-300);
  box-sizing: border-box;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-4xl) var(--padding-25xl);
  position: relative;
  gap: var(--gap-mini);
  debug_commit: 1de1738;
}
.frameParent,
.refeiesParent {
  width: 1122.5px;
}
.frameParent {
  overflow-x: auto;
  flex-direction: row;
  padding: 0 var(--padding-137xl) 0 var(--padding-312xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-8xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--roboto-bigger-bold-size);
  font-family: var(--roboto-smaller-regular);
}
.refeiesParent {
  flex-direction: column;
  gap: var(--gap-4xl);
  text-align: left;
  font-size: var(--poppins-400-medium-size);
  color: var(--light-light-300);
  font-family: var(--poppins-100-medium);
}
@media screen and (max-width: 1050px) {
  .refeies {
    font-size: var(--font-size-7xl);
    line-height: 36px;
  }
  .cardParent {
    height: auto;
    min-height: 462;
  }
  .dataTransformer {
    font-size: var(--font-size-7xl);
    line-height: 41px;
  }
}
@media screen and (max-width: 750px) {
  .stepper {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .dataTransformer,
  .refeies,
  .torradasDeParma {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .dataTransformer {
    line-height: 31px;
  }
  .resultSorter {
    font-size: var(--roboto-small-regular-size);
    line-height: 26px;
  }
  .card {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-10xl);
    box-sizing: border-box;
  }
}
