.aSaladaCsar,
.descrio {
  position: relative;
  font-size: var(--roboto-small-regular-size);
  line-height: 100%;
  font-family: var(--roboto-smaller-regular);
  text-align: left;
}
.descrio {
  align-self: stretch;
  color: var(--light-light-400);
}
.aSaladaCsar {
  flex: 1;
  color: var(--light-light-500);
  display: inline-block;
  max-width: 100%;
}
.selectionfield {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--dark-dark-800);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-123xl);
  box-sizing: border-box;
}
.descriptionField,
.formcontrol,
.selectionfield {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.formcontrol {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.descriptionField {
  align-self: stretch;
  flex-direction: row;
}
.incluir {
  position: relative;
  font-size: var(--roboto-smaller-regular-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--poppins-100-medium);
  color: var(--light-light-100);
  text-align: center;
  display: inline-block;
  min-width: 87px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--dark-dark-800);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-darkslategray);
}
.incluir1 {
  position: relative;
  font-size: var(--roboto-smaller-regular-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--poppins-100-medium);
  color: var(--light-light-100);
  text-align: center;
  display: inline-block;
  min-width: 124px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-5xl);
  background-color: var(--tints-tomato-400);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button1:hover {
  background-color: var(--color-indianred-100);
}
.footer,
.incluirButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.incluirButton {
  margin: 0;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 700px) {
  .descriptionField,
  .incluirButton {
    gap: var(--gap-base);
  }
}
@media screen and (max-width: 450px) {
  .footer {
    flex-wrap: wrap;
    gap: var(--gap-base);
  }
}
