.pencilIcon {
  height: 24px;
  width: 24px;
  position: relative;
}
.dataAggregator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.dishIcon {
  height: 176px;
  width: 176px;
  position: relative;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl) 0 var(--padding-21xl);
}
.torradasDeParma {
  width: 256px;
  position: relative;
  line-height: 34px;
  display: inline-block;
  font-family: var(--poppins-100-medium);
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--roboto-smaller-regular-size);
  color: var(--light-light-400);
}
.text3 {
  flex: 1;
  position: relative;
  line-height: 52px;
  white-space: nowrap;
}
.text2,
.textWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text2 {
  flex: 1;
}
.textWrapper {
  align-self: stretch;
  padding: 0 var(--padding-5xl) 0 var(--padding-lg);
  font-size: var(--poppins-400-medium-size);
  color: var(--tints-cake-200);
}
.card,
.gradiente {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card {
  top: 0.5px;
  left: 0.5px;
  border-radius: var(--br-5xs);
  background-color: var(--dark-dark-200);
  border: 1px solid var(--dark-dark-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mid) var(--padding-35xl)
    var(--padding-4xl);
  gap: var(--gap-base-1);
}
.gradiente {
  top: 448px;
  left: 277px;
  background: linear-gradient(90deg, rgba(0, 10, 15, 0.27), #000a0f);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.caretleftIcon,
.gradienteParent {
  position: absolute;
  top: 184.5px;
  left: 17.5px;
  width: 40px;
  height: 40px;
  z-index: 1;
}
.gradienteParent {
  top: 0;
  left: 0;
  width: 277px;
  height: 448px;
}
.kruskalAlgorithm {
  margin-left: -331.5px;
  height: 462.5px;
  width: 304.5px;
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
  text-align: center;
  font-size: var(--roboto-bigger-bold-size);
  color: var(--light-light-300);
  font-family: var(--roboto-smaller-regular);
}
@media screen and (max-width: 1050px) {
  .text3 {
    font-size: var(--font-size-7xl);
    line-height: 41px;
  }
}
@media screen and (max-width: 450px) {
  .text3,
  .torradasDeParma {
    font-size: var(--font-size-lgi);
    line-height: 27px;
  }
  .text3 {
    line-height: 31px;
  }
}
