@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --roboto-smaller-regular: Roboto;
  --poppins-100-medium: Poppins;

  /* font sizes */
  --roboto-smaller-regular-size: 14px;
  --roboto-bigger-bold-size: 24px;
  --font-size-lgi: 19px;
  --roboto-big-bold-size: 20px;
  --roboto-small-regular-size: 16px;
  --poppins-400-medium-size: 32px;
  --font-size-7xl: 26px;
  --poppins-500-medium-size: 40px;
  --font-size-xs: 12px;
  --font-size-23xl: 42px;
  --font-size-15xl: 34px;
  --font-size-6xl: 25px;

  /* Colors */
  --light-light-600: #76797b;
  --dark-dark-1000: #192227;
  --dark-dark-900: #0d1d25;
  --dark-dark-800: #0d161b;
  --dark-dark-600: #00111a;
  --dark-dark-700: #001119;
  --dark-dark-400: #000a0f;
  --dark-dark-200: #00070a;
  --dark-dark-300: #000204;
  --light-light-200: #fffaf1;
  --light-light-700: #4d585e;
  --color-dimgray-100: #4d5459;
  --tints-tomato-100: #750310;
  --light-light-100: #fff;
  --light-light-300: #e1e1e6;
  --tints-cake-200: #82f3ff;
  --light-light-400: #c4c4cc;
  --color-brown: #a83642;
  --light-light-500: #7c7c8a;
  --color-indianred-100: #c4666e;
  --tints-tomato-400: #ab4d55;
  --color-darkslategray: #404a4f;

  /* Gaps */
  --gap-27xl-8: 46.8px;
  --gap-4xl: 23px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-27xl-6: 46.6px;
  --gap-5xl-4: 24.4px;
  --gap-8xl: 27px;
  --gap-mini: 15px;
  --gap-base: 16px;
  --gap-sm: 14px;
  --gap-3xl: 22px;
  --gap-4xl-7: 23.7px;
  --gap-13xl: 32px;
  --gap-base-1: 15.1px;
  --gap-7xl-5: 26.5px;
  --gap-xl: 20px;
  --gap-lgi: 19px;
  --gap-136xl-4: 155.4px;
  --gap-59xl: 78px;
  --gap-20xl: 39px;
  --gap-xs-3: 11.3px;
  --gap-5xl: 24px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-29xl: 48px;
  --gap-xs: 12px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-11xs: 2px;
  --padding-104xl-6: 123.6px;
  --padding-103xl-5: 122.5px;
  --padding-42xl: 61px;
  --padding-33xl: 52px;
  --padding-11xl: 30px;
  --padding-15xl: 34px;
  --padding-4xl-7: 23.7px;
  --padding-104xl: 123px;
  --padding-4xl-8: 23.8px;
  --padding-xl: 20px;
  --padding-9xs-8: 3.8px;
  --padding-12xs: 1px;
  --padding-312xl: 331px;
  --padding-3xl: 22px;
  --padding-4xl: 23px;
  --padding-25xl: 44px;
  --padding-5xl: 24px;
  --padding-xs: 12px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-lg: 18px;
  --padding-21xl: 40px;
  --padding-sm: 14px;
  --padding-mid: 17px;
  --padding-137xl: 156px;
  --padding-10xl: 29px;
  --padding-base-2: 16.2px;
  --padding-11xs-5: 1.5px;
  --padding-27xl-5: 46.5px;
  --padding-4xs: 9px;
  --padding-2xs: 11px;
  --padding-46xl: 65px;
  --padding-35xl: 54px;
  --padding-27xl: 46px;
  --padding-16xl: 35px;
  --padding-23xl: 42px;
  --padding-7xs: 6px;
  --padding-49xl-5: 68.5px;
  --padding-8xs-5: 4.5px;
  --padding-89xl: 108px;
  --padding-134xl-9: 153.9px;
  --padding-58xl: 77px;
  --padding-45xl: 64px;
  --padding-13xl: 32px;
  --padding-base: 16px;
  --padding-232xl-6: 251.6px;
  --padding-smi: 13px;
  --padding-212xl: 231px;
  --padding-9xs-7: 3.7px;
  --padding-12xs-5: 0.5px;
  --padding-2xl: 21px;
  --padding-57xl: 76px;
  --padding-30xl: 49px;
  --padding-123xl: 142px;
  --padding-560xl: 579px;
  --padding-270xl: 289px;
  --padding-mini: 15px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-8xs: 5px;
  --br-base: 16px;
}
